/* You can add global styles to this file, and also import other style files */
/* Para solucionar el footer que esté abajo del todo de la página */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    padding-top: 60px;
}